.profile__info {
  max-width: 336px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .profile__info {
    padding-left: 19px;
  }
}

@media screen and (max-width: 560px) {
  .profile__info {
    max-width: 282px;
    padding: 26px 0 0;
  }
}