.footer {
  padding-top: 67px;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 48px 30px 0;
  }
} 
  
@media screen and (max-width: 560px) {
  .footer {
    padding-right: 19px;
    padding-left: 19px;
  }
} 